<%- include('partials/header') %>

    <h1> Employee Forgot Password </h1>

    <p>
        <%= (typeof variable !="undefined" ? variable : "" ) %>
    </p>
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8">

            <div class="card">
                <div class="card-body signin-card">

                    <form action="" method="POST" class="signin-form">
                        <div class="form-group">
                            <label for="email">Enter Email:</label>
                            <input type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <%- include('partials/footer') %>